<blockquote class="quote">
  <p class="quote_text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dolorem
    assumenda atque voluptates cumque est dolorum ad consequuntur soluta
    eveniet, accusamus illo ex, dolor sequi? Vitae et minus debitis obcaecati!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="media__content quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
